# Slack
SLACK_BOT_TOKEN=xoxb-
SLACK_CHANNEL_ID=C0

# Discord
DISCORD_BOT_TOKEN=tLI_
DISCORD_CHANNEL_ID=107

# Telegram
TELEGRAM_BOT_TOKEN=547:AAF
TELEGRAM_CHAT_ID=13
TELEGRAM_GROUP_ID=-10

# Pushover
PUSHOVER_APP_TOKEN=a9v
PUSHOVER_USER_KEY=ued